
@import './variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ant-splitter .ant-splitter-panel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ant-splitter .ant-splitter-panel::-webkit-scrollbar-track {
  background: var(--color-background-scrollbar) !important; /* track color */
}

.ant-splitter .ant-splitter-panel::-webkit-scrollbar-thumb {
  background:  var(--color-background-scrollbar) /* scrollbar color */ !important;
  border-radius: 4px;
}

.ant-splitter .ant-splitter-panel::-webkit-scrollbar-thumb:hover {
  background:  var(--color-background-scrollbar)
}

.ant-splitter .ant-splitter-panel::-webkit-scrollbar-button {
  display: none; /* hides scrollbar arrow buttons */
  width: 0;
  height: 0;
}

/* Firefox */
.ant-splitter .ant-splitter-panel {
  scrollbar-width: thin;
  /*semi transparent*/
  scrollbar-color: var(--color-background-scrollbar) var(--color-background-secondary) !important;
  border-radius: 8px;   /* 👈 rounds track in Firefox */
}